<!DOCTYPE html>
<html>
<head>

	<title>Secret id</title>
	<link rel="icon" href="image/logo.ico">
	<link rel="stylesheet" type="text/css" href="/abc/css/checking.css">

	   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>     
    <style>
        .myClass{
            width:400px;
            height:200px;
            background-color: #DF0011;
        }
    </style>

</head>
<body>

	<div class="section">

		<h1><u>Secret code</u></h1>
		

	</div>

	<form method="post" action="">
	<div class="check">

		<b>Code:</b>
		<input type="text" placeholder="Enter your admin given code" name="code" required ><br>


	</div>
        
        


        
	<div class="Gendersub"><input type="submit"  name="submit" value="checking" onclick="" ></td></div>
</form>


<script type="text/javascript">
      function avg(){
        swal({
            title: "Error",
            text: "Please Enter Valid Code", 
            className: "myClass",
        });}
    </script>






</body>
</html>
